<div class="text-center">
<div class="container">
	<div class="jumbotron">
		<p> burger image placeholder</p>
		<h1>Eat Muh Burgers</h1>
	</div>
	

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-secondary text-white">
         Burgers to be eaten
        </div>
        <!--Div to hold burgers that have not been devoured yet-->
        <div class="card-body">
              {{#each burgers}}
                {{#unless devoured}}
                  {{> burgers/burger-block devour=false}}
                {{/unless}}
              {{/each}}
        </div>
      </div>
    </div>

    <div class="col-md-6">		
    <div class="card">
        <div class="card-header bg-secondary text-white">
         Burgers Eaten
        </div>
        <!--When a burger has been devoured, put burger here-->
        <div class="card-body">
          {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-devoured devour=true}}
              {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>

	<div class="col-md-10 col-md-offset-1">
		<p class="lead"></p>
		
		<form class="create-update-form" action="burgers/create" method="POST">
		 <div class="form-group">
		 	<textarea class="form-control input-lg" placeholder="add burger & click submit" type="text" name="burger_name" row="3"></textarea>
		 </div>
		 <button class="btn btn-default btn-lg"  type="submit">Submit</button>
		</form>
	</div>

 </div>
</div>
</div>