<div class="text-center">
<div class="container">
	<div class="jumbotron">
		<img src="../assets/images/burger.png" id="BurgerImage" height="200px" width="200px">
		<h1>Eat Some Burgers!</h1>
	</div>
	

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header ">
         Burgers ready to be eaten
        </div>
        <!--Div to hold burgers that have not been devoured yet-->
        <div class="card-body">
              {{#each burgers}}
                {{#unless devoured}}
                  {{> burgers/burger-block devour=false}}
                {{/unless}}
              {{/each}}
        </div>
      </div>
    </div>

    <div class="col-md-6">		
    <div class="card">
        <div class="card-header">
         Finished Burgers
        </div>
        <!--When a burger has been devoured, put burger here-->
        <div class="card-body">
          {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-devoured devour=true}}
              {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>

	<div class="col-lg">
		<p class="lead"></p>
		
		<form class="create-update-form">
		 <div class="form-group">
		 	<textarea class="form-control input-lg" id="newBurger" placeholder="Add a burger & order!" type="text" name="burger_name" row="3"></textarea>
		 </div>
		 <button class="btn btn-default btn-lg"  type="submit">Order</button>
		</form>
	</div>

 </div>
</div>
</div>