<form class="devour-form" action="burgers/update/{{id}}">
<div class="mt-4">
	<h4>{{burger_name}}</h4>
	<!--Devour button-->
	<button class="change-devour btn" data-id="{{id}}" data-newdevour="{{devour}}" type="submit">
	 Devour me
	</button>	
</div></form>